<footer class="border-t-1 border-[rgba(169,169,169,0.60)] sm:text-center">
  <div class="site-padding pt-8 pb-11 sm:py-[20px]">
    <div class="site-max-width">
      <div class="xs:flex-col flex items-center justify-between gap-20">
        <p class="text-secondary lh-[100%] text-xs">© 2024 COGISTICS Transportation. All Rights Reserved</p>
        <div class="flex items-center gap-13">
          <a href="#">
            <img src="/assets/svg/facebook.svg" alt="facebook" />
          </a>
          <a href="#">
            <img src="/assets/svg/linkedin.svg" alt="linkedin" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
