.nav__link {
	font-family: var(--font-primary, "Barlow Semi Condensed", "Roboto", system-ui, -apple-system, "Segoe UI", Arial, sans-serif);
	font-weight: var(--font-weight-medium) /* 500 */;
	font-size: var(--text-base) /* 16px */;
	line-height: var(--tw-leading, var(--text-base--line-height) /* 22.4px */);
	color: #383838;
	text-transform: capitalize;
}